/**
 * Primary Site Theme Color Variables
 */
$site-theme-color: #29487d;

/**
 * Body Variables
 */
$body-bg: #f5f8fa;

/**
 * Typography Variables
 */
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
