/**
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

/**
 * Variables
 */
@import "variables";
@import "scrollbar";

/**
 * Bootstrap
 */
@import '~bootstrap/scss/bootstrap';

button:focus {
  outline: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  .navbar-toggler {
    border: none;
  }
}
